<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='styles/main.css') }}">
</head>
<body>
    <h>Here you can ask the questions you want related to tnp</h>
    <iframe src='https://webchat.botframework.com/embed/tnpchatbt-bot?s=nFaOy125cMQ._2g9dMz_maMT0qEj8PPDWRQTH3UgAZkytlfKP3vze0w'  style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
</body>
</html>